extends layout

block content
  form(method="post", action="/tasks/" + id)
    div
      label(for="project") Project:
      input(type="text", name="project", value=task.project)
    div
      label(for="subject") Subject:
      input(type="text", name="subject", value=task.subject, class="input-xxlarge")
    div
      label(for="desc") Description:
      input(type="text", name="desc", value=task.desc, class="input-xxlarge")
    div
      label(for="startDate") Start date:
      input(type="text", name="startDate", value=task.startDate)
    div
      label(for="endDate") End date:
      input(type="text", name="endDate", value=task.endDate)
    div
      label(for="body") Body:
      textarea(name="body", class="input-xxlarge")!= task.body
    div
      button(class="btn btn-primary", type="submit") Submit
      a(class="btn", href="javascript:history.back()") Cancel
