extends logged-in

block content
  a(class="btn btn-primary", href="/add-task?project=" + id) Add Task to this project
  a(class="btn btn-primary", href="/edit-project/" + id) Edit project
  div
    span ID:
    span= id
  div
    h2= project.name
  div
    span Description:
    span= project.desc
  div
    if project.body
      != marked(project.body)
  div
    table
      tr
        th ID
        th Subject
      - each task in tasks
        tr
          td
            a(href="/tasks/" + task.id)= task.id
          td= task.subject
