extends logged-in
include mixins/status

block content
  if project
    div(class="page-header")
      h1= project.name
        small= ' ' +  id
      p= project.desc
      div(class="btn-group")
        a(class="btn btn-primary", href="/add-task?project=" + id) Add Task to this project
        // Let any user edit a project if it doesn't have any administrators yet.
        - if(!project.administrators || project.administrators.indexOf(user.id) > -1)
            a(class="btn btn-primary", href="/edit-project?id=" + id) Edit project
    div
      if project.body
        div(class='well')
          != marked(project.body)
  else
    div(class="page-header")
      h1 Project was not found.
  if tasks.length > 0
    div
      table(class="data")
        tr
          th(class="span1") ID
          th(class="span2") Status
          th(class="span9") Subject
        - each task in tasks
          tr
            td
              a(href="/task?id=" + task.id)= task.id
            td
              mixin statusLabel(task.status)
            td= task.subject
