extends logged-in

block content
  a(class="btn btn-primary", href="/edit-task/" + id) Edit Task
  div
    a(href="/projects/" + task.project)= task.project
    h2= task.subject
  div
    span Description:
    span= task.desc
  div
    span Start Date:
    span= task.startDate
    span End Date:
    span= task.endDate
  div
    if task.body
      != marked(task.body)
