extends logged-in
include mixins/status
include mixins/form

block content
  div(class='page-header')
    h1= task.subject
    p
      mixin statusLabel(task.status ? task.status : 'open')
      span  #{task.desc}
    ul(class='breadcrumb')
      li
        a(href="/projects/" + task.project)= task.project
        span(class='divider') /
      li(class='active')= id
    div(class="btn-group")
      a(class="btn btn-primary", href="/edit-task?id=" + id) Edit Task
      a(class="btn btn-primary", href="#addCommentDialog", data-toggle="modal") Add Comment
  div(class='alert alert-info')
    strong= 'Start Date: '
    span= task.startDate
    strong= ' | End Date: '
    span= task.endDate
  div
    if task.body
      != marked(task.body)
  div#comments
  div#addCommentDialog(class="modal hide fade", tabindex="-1", role="dialog")
    div(class="modal-header")
      a(href="#", class="close", data-dismiss="modal") x
      h3 Comment.
    div(class="modal-body")
      input#commentID(type="hidden")
      mixin markdownInput({}, 'commentBody', 'comment')
    div(class="modal-footer")
      a(href="#", class="btn btn-primary", onclick="addComment(); return false;") Submit
      a(href="#addCommentDialog", class="btn", data-toggle="modal") Cancel
block script
  mixin markdownInputScript(['commentBody'])
  script
    function addComment() {
      var comment = {
        body: $('#wmd-input_commentBody').val(),
        task: #{id}
      }
      var onSuccess = function(res) { 
        $('#addCommentDialog').modal('hide');
        $('#wmd-input_commentBody').val('');
        $('#commentID').val('');
        showComments();
        alert('Comment submitted.');
      }
      var commentID = $('#commentID').val();
      if(commentID){
        $.ajax({
          url: '/tasks/#{id}/comments/' + commentID,
          type: 'PUT',
          data: {comment: JSON.stringify(comment)},
          success: onSuccess
        });
      } else {
        $.ajax({
          url: '/tasks/#{id}/comments/',
          type: 'POST',
          data: {comment: JSON.stringify(comment)},
          success: onSuccess
        });
      }
    }
    function showComments() {
      $.ajax({
        url: '/tasks/#{id}/comments/',
        success: function(res) {
          $('#comments').replaceWith(res);
        }
      });
    }
    function editComment(commentID) {
      $.ajax({
        url: '/tasks/#{id}/comments/' + commentID,
        success: function(comment){
          $('#wmd-input_commentBody').val(comment.body);
          $('#commentID').val(commentID);
          $('#addCommentDialog').modal('show');
        }
      });
    }
    showComments();
