extends logged-in
include mixins/status

block content
  div(class='page-header')
    h1= task.subject
    p
      mixin statusLabel(task.status ? task.status : 'open')
      span  #{task.desc}
    ul(class='breadcrumb')
      li
        a(href="/projects/" + task.project)= task.project
        span(class='divider') /
      li(class='active')= id
    a(class="btn btn-primary", href="/edit-task/" + id) Edit Task
  div(class='alert alert-info')
    strong= 'Start Date: '
    span= task.startDate
    strong= ' | End Date: '
    span= task.endDate
  div
    if task.body
      != marked(task.body)
